/* #region Header*/

/* #endregion Header*/

/* #region hero */

/* #endregion hero */

/* #region benefins */

/* #endregion benefits */

/* #region team */
/* #endregion team */

/* #region portfolio */
/* #endregion portfolio */

/* #region footer */

.footer-containet {
  display: flex;
  align-items: baseline;
}
.footer-logo-text {
  margin-right: 120px;
}

.footer-icon-div {
  flex-direction: column;
  margin-right: 80px;
}

.footer-p {
  display: inline-block;
}

.footer-input {
  width: 264px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-label {
}

.footer-form {
}

.footer-form-label {
}

/* #endregion footer */

/* #region backdrop */

/* #endregion backdrop */
